html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.esriRTL label {
    /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}
.loading-indicator {
    /* Loading status */
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #fff;
}
.app-loading .loading-indicator,
.app-error .loading-indicator {
    /* Show this class when loading or error */
    display: block;
}
.app-loading .loading-indicator {
    /* Loading image */
    background-position: center center;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
}
.app-error .loading-message {
    /* Error status */
    background-position: top center;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    padding-top: 60px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 0;
    text-align: center;
}

/*
.claro .dijitSplitContainer-dijitContentPane, .claro .dijitBorderContainer-dijitContentPane {
    padding: 0px;
    margin: 0px;
}


.claro .dijitSplitContainer-child, .claro .dijitBorderContainer-child {
    border: none;
}

.claro .dijitSplitterV, .claro .dijitGutterV, .claro .dijitSplitterH, .claro .dijitGutterH {
    border: 0 none;
    margin: 0;
    width: 3px;
}
*/

.claro .dijitContentPane {
    padding: 0px;
    margin: 0px;
}



/* header menus */
#webmap-toolbar-left span{
	margin: 0px;
}
#webmap-toolbar-left {
    position:absolute;
    left:5px;
    margin-top:1px;
    overflow: hidden;
}

#webmap-toolbar-center span{
	margin: 0px;
}
#webmap-toolbar-center {
	position:absolute;
	margin-top:4px;
	overflow: hidden;
	right:0px;
}

#webmap-toolbar-right span{
	margin: 0px;
}
#webmap-toolbar-right {
	position:absolute;
    right:0px;
    margin-top:4px;
    overflow: hidden;
}

.headerLogos{
	margin-top:2px;
	float:left;
}


.headerTitle{
	padding-left: 10px;
	float:right;
	/*margin-top: -15px;*/
}

.headerTitle h4{
	margin:0px;
	margin-top: 6px;
}
/* ---------------------------- */

/* Statusbar */

.myStatusbar{
	position: fixed;
	border: 1px solid #d7b3b7;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	background-color: #ffe3e0;
	height: 25px;
}


.myStatusbarTitleBar {
	display:inline-block;
	padding-left: 10px;
	padding-top: 2px;
	color: #FF0000;


}

.myStatusbarCloseIcon {
    background: url("../images/closeBlack.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 12px;
    position: absolute;
    right: 7px;
    top:7px;
    width: 12px;
    cursor: pointer;
}
